.login-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-header {
  margin-bottom: 1em;
}

.login-signup-selector {
  display: flex;
  margin: 0.5em;
  flex-direction: row;
  justify-content: center;
}
.login-inputs {
  display: flex;
  flex-direction: column;
}
.login-signup-selector label {
  padding: 0.5em;
}
.username,
.password {
  display: flex;
}

.username input,
.password input {
  flex-grow: 100;
}

.submit-button {
  margin-top: 1em;
}

.error-message {
  text-align: center;
}
