.search-component {
  height: 3em;
  width: 50%;
  text-align: center;
  margin: auto;
}

.search-component input {
  width: 100%;
  height: 2em;
}
.search-component input::placeholder {
  text-align: center;
}
